<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
<table class="table">
<thead>
<tr>
	<th>ID</th>
	<th>Nombre</th>
	<th>Creable</th>
	<th>Formulas</th>
</tr>
</thead>
<tbody>
<tr th:each="product:${products}">
	<td>${product.idProduct}</td>
	<td>${product.nameProduct}</td>
	<td>${product.isCreated}</td>
	<td>${product.myFormulas}</td>
	<td>
	<a class="btn btn-warning">Editar</a>
	<a class="btn btn-danger">Eliminar</a>
	</td>
</tr>
</tbody>
</table>
</div>
</body>
</html>